body{
  /*  background-image: url('./img/splash-lg.jpg'); */
    background-repeat: no-repeat;
}


.Blessing{
    position: relative;
    color: white;
}


#hamburger-menu {
    display: inline;
    margin-right: 1rem;
}

/* nav a {
    /* color: white;     font-size: 1.5rem;
    margin-right: .5em;
    text-decoration: none;

} */


.Top{
    display: flex;
}









/* img + p, p.Selected{
    font-size: 30px;
    font-weight: 400px;
    font-family: 'Times New Roman', Times, serif;

} */

h1 + img.Helping{
    float: right;
}

/* .Main_Body{
    color: white;
} */


 div > p{
    text-align: center;
    /* font-size: 100px; */
}

div.card{
    color: black;
}

div.card-body{
    background-color: yellow;
}


p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


  a.dropdown-item{
    color: yellow;
    background-color: navy;

  }

  img {
    height: 200px;
    border-radius: none;
    border-collapse: inherit;
}

@media (min-width: 768px) {
    main, footer {
        margin: 0;
    }

    .card-body {
        border: black solid 2px;
    }

    iframe {
        height: 400px;
    }

    .intro {
        margin: auto;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .information h3 {
        font-size: 26px;
    }
}





.Top{
    display: flex;
}




.Top{
    display: flex;
}

.BTB{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

  body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
  }

  .Jay{
    padding-left: 100px;
    color:  purple;
  }

  .Being_Blessing{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  


  .jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  .container-fluid {
    padding: 60px 50px;
  }

 
.About_Company{
    text-align: center;
    /* justify-content: center; */
}

.Meet_Team{
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

  