.BackgroundColors {
background-size: cover;
background-position: center center;
background-image: url(https://lh6.googleusercontent.com/7QXUcGa6Fu_cszdS7yf6EZhCStVblPKT25du4ECiXrDNirE8FiIpnPj23Sqh2PypBaJ0JHG2M4y1TtZODWXPs_0);
}